* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

header {
  height: 80px;
  border-bottom: 1px solid #CCC;
}

header img {
  margin-top: 10px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
  /* background-color: #CCC; */
}

#vagas{
  padding: 80px 0;
}
#vagas::after{
  clear: both;
  display: block;
  content: ""
}

article {
  padding: 12px;
  /* material blue 500 do material design */
  border: 1px solid #2196F3;
  width: 380px;
  float: left;
  margin-right: 8px;
}

article > h2 {
  background-color: #2196F3;
  color: #FFF;
  text-align: center;
  line-height: 3;
  margin: -12px;
  margin-bottom: 0;
  font-weight: normal;
  font-size: 24px;
}

article > div {
  text-align: center;
  font-size: 24px;
  margin: 20px 0;
}

article > ul {
  list-style: none;
  padding: 0;
  margin: 20px 0;
}
article > ul > li {
  /* border: 1px solid black; */
  text-align: center;
}

article > footer {
  /* border: 1px solid black; */
  text-align: center;
}

.botao{
  display: inline-block;
  background-color: #1976D2;
  color: white;
  padding: 12px 16px;
  text-decoration: none;        
}

.botao:hover, .botao:focus{
  background-color: #0D47A1;
  outline: none;
}

